<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inet_test">
        <service android:name=".NotificationService"
            android:exported="false"
            android:directBootAware="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".zweiteSeite" />
        <activity android:name=".settings" />
        <activity android:name=".anzeige"/>
        <activity android:name=".k_alles"/>
        <activity android:name=".k_duoq"/>
        <activity android:name=".k_atf"/>
        <activity android:name=".k_bonus"/>
        <activity android:name=".k_free"/>
        <activity android:name=".k_tdm"/>
        <activity android:name=".bestenliste"/>
        <activity android:name=".bier"/>
        <activity android:name=".anmeldung"/>
        <activity android:name=".auswahl"/>
        <activity android:name=".spielerstellen"/>
        <activity android:name=".pumpen_hub" />
        <activity android:name=".spieler_auswahl" />
        <activity android:name=".spieler_auswahl_dummes" />
        <activity android:name=".sp_helfer"/>
        <activity android:name=".helfer_wuerfel"/>
        <activity android:name=".helfer_zufalsz"/>
        <activity android:name=".helfer_karte"/>
        <activity android:name=".helfer_schnapps"/>
        <activity android:name=".kegeln"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="portrait"/>
        <activity android:name=".kegeln2"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="portrait"/>
        <activity android:name=".game_start"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="portrait" />
        <activity android:name=".main_game"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="portrait" />
        <activity android:name=".game_over"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="portrait" />
        <activity android:name=".crabby_splash"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="landscape" />
        <activity android:name=".crabby_main"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="landscape" />
        <activity android:name=".crabby_over"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="landscape" />
        <activity android:name=".mario_splash"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="landscape" />
        <activity android:name=".mario_main1"
            android:theme="@style/Theme.Inet_test2"
            android:screenOrientation="landscape" />
    </application>

</manifest>